@model Vehicles
@{
    ViewData["Title"] = "Home Page";
}

@section scripts {
    <script type="text/javascript">

        $(document).ready(function () {

            $('#WakeButton').click(function () {
                Command('Waking...', '@Url.Action("Wake", "Home")');
            });

            $('#StopChargingButton').click(function () {
                Command('Stop Charging...', '@Url.Action("StopCharging", "Home")');
            });

            $('#StartChargingButton').click(function () {
                Command('Begin Charging...', '@Url.Action("StartCharging", "Home")');
            });

            $('#Unlock').click(function () {
                Command('Unlocking...', '@Url.Action("Unlock", "Home")');
            });

            $('#Lock').click(function () {
                Command('Locking...', '@Url.Action("Lock", "Home")');
            });

            $('#Honk').click(function () {
                Command('Honk...', '@Url.Action("Honk", "Home")');
            });

            $('#Flash').click(function () {
                Command('Flashing Lights...', '@Url.Action("FlashLights", "Home")');
            });

            $('#Trunk').click(function () {
                Command('Opening Rear Trunk...', '@Url.Action("Trunk", "Home")');
            });

            $('#Frunk').click(function () {
                Command('Opening Frunk :) ...', '@Url.Action("Frunk", "Home")');
            });

            $('#OpenPort').click(function () {
                Command('Opening Charge Port :) ...', '@Url.Action("OpenChargePort", "Home")');
            });

            $('#ClosePort').click(function () {
                Command('Closing Charge Port :) ...', '@Url.Action("CloseChargePort", "Home")');
            });

            $('#GetState').click(function () {
                GetState();
            });

            UpdateVehicle();
            GetLocation();
            SetTracking();

        });

        function UpdateVehicle() {
            $('#VehicleName').text($("#vehicles option:selected").text());
        }

        function SetTracking() {

            var seconds = $('#TrackSecond').val() * 1000;

            setInterval(function () {
                if ($('#Track').is(':checked')) {
                    GetLocation();
                }
            }, seconds);
        }

        function GetState() {
            data = { id: $("#vehicles option:selected").val() };
            command = '@Url.Action("GetState", "Home")';
            AjaxCall(command, data, 'POST', loadState);
        }

        function loadState(data) {


            $('#Vin').text(data.response['vin']);
            $('#State').text(data.response['state']);
            $('#Calendar').text(data.response['calendar_enabled']);

            //drive state
            $('#Heading').text(data.response["drive_state"]["heading"]);
            $('#Latitude').text(data.response["drive_state"]["latitude"]);
            $('#Longitude').text(data.response["drive_state"]["longitude"]);
            $('#Speed').text(data.response["drive_state"]["speed"]);

            //Guid
            $('#HourTime').text(data.response["gui_settings"]["gui_24_hour_time"]);
            $('#ChargeUnits').text(data.response["gui_settings"]["gui_charge_rate_units"]);
            $('#DistanceUnits').text(data.response["gui_settings"]["gui_distance_units"]);
            $('#RangeDisplay').text(data.response["gui_settings"]["gui_range_display"]);
            $('#TempUnits').text(data.response["gui_settings"]["timestamp"]);

            //Climate
            $('#TempUnits').text(data.response["gui_settings"]["timestamp"]);
            
            for (var propertyName in data.response) {

                $('<div/>', {
                    'class': 'col-md-2', html: '<h4>' + propertyName + '  <span class="label label-default">' + data.response[propertyName] + '</span></h4>'
                }).hide().appendTo('#container').slideDown('slow');

                //var div = $('#stateDiv').append(propertyName + ':' + data.response[propertyName]);
                //<h6>Example <span class="label label-default">New</span></h6>
            }
        }

        function GetLocation() {
            data = { id: $("#vehicles option:selected").val() };
            command = '@Url.Action("GetLocation", "Home")';
            AjaxCall(command, data, 'POST', initMap);
        }

        var map;
        function initMap(data) {

            var lat = data.latitude;
            var lng = data.longitude;

            var myLatLng = { lat: lat, lng: lng };

            map = new google.maps.Map(document.getElementById('map'), {
                center: myLatLng,
                zoom: 16
            });

            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                title: 'Hello World!'
            });

        }

        function Command(dialog, command) {

            waitingDialog.show(dialog);

            data = { id: $("#vehicles option:selected").val() };

            AjaxCall(command, data, 'POST', CommandWaiting);
        }

        function CommandWaiting(data) {
            if (data != true) {
                data = { id: $("#vehicles option:selected").val() };
                AjaxCall('@Url.Action("IsAwake", "Home")', data, 'POST', CommandWaiting);
            }
            else {
                CommandDone(data);
            }
        }

        function CommandDone(data) {
            waitingDialog.hide();
        }

        AddAntiForgeryToken = function (data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
        };

        function AjaxCall(url, data, method, successFunction) {
            //var pData = $.extend(data, { "CSRF-TOKEN-MOONGLADE-FORM": $('input[name="__RequestVerificationToken"]').val() });
            data = AddAntiForgeryToken(data)
            
            $.ajax({
                url: url,
                type: method,
                data: data, //{ file: signature },
                traditional: true,
                error: function (e, t, m) {
                    if (t === "timeout") {
                        alert("Your connection to the internet has been interrupted. Data not saved.");
                        $(document).children().remove();
                        window.location.href = "/Home/Logout";
                    } else {
                        alert("Error. Data not saved. " + e.responseText);
                    }
                },
                dataType: "json",
                success: function (data, x, y) {
                    if (x != "success") {
                        alert("Error. Data not saved.");
                    }
                    else {
                        successFunction(data);
                    }
                }
            });
        }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=@ViewBag.MapApi"
            async defer></script>

}
<style>
    /* Always set the map height explicitly to define the size of the div * element that contains the map. */

    #map {
        height: 50%;
    }

    /* Optional: Makes the sample page fill the window. */

    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
</style>
<br />
<br />
<br />

<form id="__AjaxAntiForgeryForm" action="#" method="post">@Html.AntiForgeryToken()</form>
<div class="row">
    <div class="col-sm-3">
        <select class="form-control" id="vehicles" onchange="UpdateVehicle()">
            @{
                foreach (Response t in Model.response)
                {
                    <option value="@t.id">@t.display_name</option>
                }
            }
        </select>
    </div>
    @*<div class="col-sm-3">Offline</div>*@
</div>
<br />
@*<button type="button" id="WakeButton" class="btn btn-primary">Wake</button>*@
<p class="lead">
    Storage
    <button type="button" id="Trunk" class="btn btn-primary">Trunk</button>
    <button type="button" id="Frunk" class="btn btn-primary">Frunk</button>
</p>
<p class="lead">
    Charging
    <button type="button" id="OpenPort" class="btn btn-primary">Open Charge Port</button>
    <button type="button" id="ClosePort" class="btn btn-primary">Close Charge Port</button>
    <button type="button" id="StopChargingButton" class="btn btn-primary">Stop Charging</button>
    <button type="button" id="StartChargingButton" class="btn btn-primary">Start Charging</button>
</p>
<p class="lead">
    Security
    <button type="button" id="Unlock" class="btn btn-primary">Unlock</button>
    <button type="button" id="Lock" class="btn btn-primary">Lock</button>
    <button type="button" id="Honk" class="btn btn-primary">Honk</button>
    <button type="button" id="Flash" class="btn btn-primary">Flash Lights</button>
</p>

<div id="stateDiv">
    State:
    <button type="button" id="GetState" class="btn btn-primary">Get State</button>
</div>
<div class="row" id="container">

</div>
<div class="row">
    <div class="col-md-2">
        <h4>
            Vin:
            <span class="label label-default" id="Vin"></span>
        </h4>
    </div>
    <div class="col-md-2">
        <h4>
            Status:
            <span class="label label-default" id="State"></span>
        </h4>
    </div>
    <div class="col-md-2">
        <h4>
            Calendar Enabled:
            <span class="label label-default" id="Calendar"></span>
        </h4>
    </div>
    <!--drive state-->
    <div class="col-md-2">
        <h4>
            Heading:
            <span class="label label-default" id="Heading"></span>
        </h4>
    </div>
    <div class="col-md-2">
        <h4>
            Latitude:
            <span class="label label-default" id="Latitude"></span>
        </h4>
    </div>
    <div class="col-md-2">
        <h4>
            Longitude:
            <span class="label label-default" id="Longitude"></span>
        </h4>
    </div>
    <div class="col-md-2">
        <h4>
            Speed:
            <span class="label label-default" id="Speed"></span>
        </h4>
    </div>
    <!--GUI Settings-->
    <div class="col-md-2">
        <h4>
            Is Using 24 Hour Time?:
            <span class="label label-default" id="HourTime"></span>
        </h4>
    </div>
    <div class="col-md-2">
        <h4>
            Charge Units:
            <span class="label label-default" id="ChargeUnits"></span>
        </h4>
    </div>
    <div class="col-md-2">
        <h4>
            Distant Units:
            <span class="label label-default" id="DistanceUnits"></span>
        </h4>
    </div>
    <div class="col-md-2">
        <h4>
            Range Display:
            <span class="label label-default" id="RangeDisplay"></span>
        </h4>
    </div>
    <div class="col-md-2">
        <h4>
            Temperature Units:
            <span class="label label-default" id="TempUnits"></span>
        </h4>
    </div>
    <!--Climate State-->
    <div class="col-md-2">
        <h4>
            Actual Temperature:
            <span class="label label-default" id="inside_temp"></span>
        </h4>
    </div>
    <div class="col-md-2">
        <h4>
            Outside Temperature:
            <span class="label label-default" id="outside_temp"></span>
        </h4>
    </div>
    <div class="col-md-2">
        <h4>
            Driver Temperature:
            <span class="label label-default" id="driver_temp_setting"></span>
        </h4>
    </div>
    <div class="col-md-2">
        <h4>
            Passenger Temperature:
            <span class="label label-default" id="driver_temp_setting"></span>
        </h4>
    </div>
    <div class="col-md-2">
        <h4>
            Fan Speed:
            <span class="label label-default" id="fan_status"></span>
        </h4>
    </div>
    <div class="col-md-2">
        <h4>
            A/C On?:
            <span class="label label-default" id="is_auto_conditioning_on"></span>
        </h4>
    </div>
    <div class="col-md-2">
        <h4>
            Climate Control On?:
            <span class="label label-default" id="is_climate_on"></span>
        </h4>
    </div>
</div>
<p>
    <label><input type="checkbox" style="font-weight: normal" name="Track" id="Track" value="Track">Track</label>&nbsp;<label id="VehicleName"></label> every
    <input type="number" id="TrackSecond" value="120" onchange="SetTracking()" /> seconds
</p>
<div id="map" style="height:50%; width:50%"></div>
<a href="@Url.Action("Contact","Home")">Contact/Donate</a>

