@model Vehicles
@{
    ViewData["Title"] = "Home Page";
}

@section scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            
            $('#WakeButton').click(function () {
                Command('Waking...', '@Url.Action("Wake", "Home")');
            });

            $('#StopChargingButton').click(function () {
                Command('Stop Charging...', '@Url.Action("StopCharging", "Home")');
            });

            $('#StartChargingButton').click(function () {
                Command('Begin Charging...', '@Url.Action("StartCharging", "Home")');
            });

            $('#Unlock').click(function () {
                Command('Unlocking...', '@Url.Action("Unlock", "Home")');
            });

            $('#Lock').click(function () {
                Command('Locking...', '@Url.Action("Lock", "Home")');
            });

            $('#Honk').click(function () {
                Command('Honk...', '@Url.Action("Honk", "Home")');
            });

            $('#Trunk').click(function () {
                Command('Opening Rear Trunk...', '@Url.Action("Trunk", "Home")');
            });

            $('#Frunk').click(function () {
                Command('Opening Frunk :) ...', '@Url.Action("Frunk", "Home")');
            });

            $('#OpenPort').click(function () {
                Command('Opening Charge Port :) ...', '@Url.Action("OpenChargePort", "Home")');
            });

            $('#ClosePort').click(function () {
                Command('Closing Charge Port :) ...', '@Url.Action("CloseChargePort", "Home")');
            });

            
            UpdateVehicle();
            GetLocation();
            SetTracking();

        });        

        function UpdateVehicle() {
            $('#VehicleName').text($("#vehicles option:selected").text());
        }

        function SetTracking() {
            
            var seconds = $('#TrackSecond').val() * 1000;

            setInterval(function () {
                if ($('#Track').is(':checked')) {
                    GetLocation();
                }
            }, seconds);
        }

        function GetLocation() {
            data = { id: $("#vehicles option:selected").val() };
            command = '@Url.Action("GetState", "Home")';
            AjaxCall(command, data, 'POST', initMap);
        }

        var map;
        function initMap(data) {
            
            var lat = data.latitude;
            var lng = data.longitude;

            var myLatLng = { lat: lat, lng: lng };

            map = new google.maps.Map(document.getElementById('map'), {
                center: myLatLng,
                zoom: 16
            });

            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                title: 'Hello World!'
            });

        }

        function Command(dialog, command) {

            waitingDialog.show(dialog);

            data = { id: $("#vehicles option:selected").val() };

            AjaxCall(command, data, 'POST', CommandWaiting);
        }

        function CommandWaiting(data) {
            if (data != true) {
                data = { id: $("#vehicles option:selected").val() };
                AjaxCall('@Url.Action("IsAwake", "Home")', data, 'POST', CommandWaiting);
            }
            else {
                CommandDone(data);
            }
        }

        function CommandDone(data) {
            waitingDialog.hide();
        }

        function AjaxCall(url, data, method, successFunction) {
            $.ajax({
                url: url,
                type: method,
                data: data, //{ file: signature },
                traditional: true,
                error: function (e, t, m) {
                    if (t === "timeout") {
                        alert("Your connection to the internet has been interrupted. Data not saved.");
                        $(document).children().remove();
                        window.location.href = "/Home/Logout";
                    } else {
                        alert("Error. Data not saved. " + e.responseText);
                    }
                },
                dataType: "json",
                success: function (data, x, y) {
                    if (x != "success") {
                        alert("Error. Data not saved.");
                    }
                    else {
                        successFunction(data);
                    }
                }
            });
        }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=@ViewBag.MapApi"
            async defer></script>
    
}
    <style>
        /* Always set the map height explicitly to define the size of the div * element that contains the map. */

        #map {
            height: 50%;
        }

        /* Optional: Makes the sample page fill the window. */

        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
<br />
<br />
<br />    
<div class="row">
    <div class="col-sm-3">
        <select class="form-control" id="vehicles" onchange="UpdateVehicle()">
            @{
                foreach (Response t in Model.response)
                {
                    <option value="@t.id">@t.display_name</option>
                }
            }
        </select>
    </div>
    @*<div class="col-sm-3">Offline</div>*@
</div>
<br />
@*<button type="button" id="WakeButton" class="btn btn-primary">Wake</button>*@
<p class="lead">
    Storage
    <button type="button" id="Trunk" class="btn btn-primary">Trunk</button>
    <button type="button" id="Frunk" class="btn btn-primary">Frunk</button>
</p>
<p class="lead">
    Charging
    <br />
    <button type="button" id="OpenPort" class="btn btn-primary">Open Charge Port</button>
    <button type="button" id="ClosePort" class="btn btn-primary">Close Charge Port</button>
<p>
    <button type="button" id="StopChargingButton" class="btn btn-primary">Stop Charging</button>
    <button type="button" id="StartChargingButton" class="btn btn-primary">Start Charging</button>
</p>
<p class="lead">
    Security
    <button type="button" id="Unlock" class="btn btn-primary">Unlock</button>
    <button type="button" id="Lock" class="btn btn-primary">Lock</button>
    <button type="button" id="Honk" class="btn btn-primary">Honk</button>
</p>
<p>
    <label><input type="checkbox" style="font-weight: normal" name="Track" id="Track" value="Track">Track</label>&nbsp;<label id="VehicleName"></label> every 
    <input type="number" id="TrackSecond" value="120" onchange="SetTracking()" /> seconds
</p>
<div id="map" style="height:50%; width:50%"></div>
<a href="@Url.Action("Contact","Home")">Contact/Donate</a>

